
    .term
    {
      padding-top: 20px;
    }
  
    .terms-checkbox-label
    {
      overflow: visible;
      text-overflow: initial;
      white-space: initial;
      opacity: 0.5;
      font-size: 14px;
      font-weight: bold;
    }
  
    .error-message
    {
      color: red;
    }
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
    }
    ion-label[position="stacked"]{
        font-size: 2rem;
    }
    .agreement{
        font-size: 12px;
        padding-top: 10px;
        padding-left: 10px;
        ion-checkbox{
            width: 20px;
            height: 20px;
        }
    }