<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>支付结算</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Skeleton loading -->
  <ng-container *ngIf="isLoading">
    <div class="skeleton-page">
      <ion-skeleton-text animated style="width: 50%; height: 24px; margin-bottom: 12px;"></ion-skeleton-text>
      <ion-card class="skeleton-card">
        <div class="skeleton-list-item" *ngFor="let sk of [1,2,3,4,5]">
          <div class="skeleton-lines">
            <ion-skeleton-text animated style="width: 32%; height: 14px;"></ion-skeleton-text>
          </div>
          <ion-skeleton-text animated style="width: 40%; height: 14px;"></ion-skeleton-text>
        </div>
      </ion-card>
    </div>
  </ng-container>

  <!-- Content -->
  <ng-container *ngIf="!isLoading">
  <div>
    <ion-row>
      <ion-label class="feeLabel">
        费用(￥)：{{weightBill.Amount}}
      </ion-label>
    </ion-row>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>车牌号码</ion-label>
      <ion-note slot="end">{{weightBill?.VehicleNo}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>皮重(车重)</ion-label>
      <ion-note slot="end">{{weightBill?.TareWeight}}KG</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>过磅费</ion-label>
      <ion-note slot="end">{{weightBill?.WeighingFee}}元</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>月卡用户</ion-label>
      <ion-note slot="end">{{weightBill?.IsMonthly}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>企业账号</ion-label>
      <ion-note slot="end">{{weightBill?.CorporateAccount}}</ion-note>
    </ion-item>
  </ion-list>
  </ng-container>

</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="payByJsApi()"  [disabled]="!signalRConnected">支付费用</ion-button>
</ion-footer>