<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>银行账户</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>中国银行</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>户名:深圳市升蓝物流有限公司</p>
      <p>开户行:中国银行股份有限公司深圳机场支行</p>
      <p>账号:764057955149</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>招商银行</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>户名:深圳市升蓝物流有限公司</p>
      <p>开户行:招商银行股份有限公司深圳深南中路支行</p>
      <p>账号:755919924510101</p>
    </ion-card-content>
  </ion-card>
</ion-content>