<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>与客服对话中</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="message-wrap">

    <div *ngFor="let msg of messages" class="message" [class.left]=" msg.Type === 1 " [class.right]=" msg.Type === 0 " >
      <img class="user-img" [src]="msg.avatar" alt="" *ngIf="!msg.IsRevoke">
    
      <div class="msg-detail" *ngIf="!msg.IsRevoke">
        <div class="msg-info">
          <p>
            {{msg.Name}}&nbsp;&nbsp;&nbsp;{{msg.Date}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <div style="font-size: 13px;background-color: #c3c3c3;margin-bottom: 5px;padding: 5px;border-radius: 3px;" *ngIf="msg.RefContent!=null">
            {{msg.AtUserName}}<br>
            {{msg.RefContent}}
          </div>
          <p class="line-breaker " *ngIf="msg.IsFile===false">
            <span style="background-color: #9fc2ff;border-radius: 3px;" *ngIf="msg.AtUserName!=null">@{{msg.AtUserName}}&nbsp;</span>
            <span *ngIf="isCanProcessBySelf(msg) as result; else msgContent">
              {{result.processMessage}}
              <a class="processLink" (click)="processProblem(result)">点击这里</a>
              进行自助处理
            </span>
            <ng-template #msgContent>
              {{msg.Content}}
          </ng-template>
          </p>
          <a style="color: rgb(188, 234, 255);" href="{{serverUrl}}/DeliveryRecord/ChatFile/{{msg.Id}}" *ngIf="msg.IsFile===true">{{msg.Content}}</a>
        </div>
      </div>
    </div>

  </div>
</ion-content>
<ion-footer no-border>
  <div class="input-wrap">

    <textarea #chat_input placeholder="请输入..." [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()" (focusin)="onFocus()">
    </textarea>
    <ion-button fill="clear" icon-only item-right (click)="sendMsg()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
    <input #file type="file" (change)="upload(file.files)" style="display:none" />
    <button ion-button clear icon-only item-right (click)="file.click()" *ngIf="showFileUploadButton">
      <ion-icon name="share"></ion-icon>
    </button>
  </div>
</ion-footer>