.list-ios .item-block .item-inner{
    border: none;
}
.bottom-border{
    border-bottom: 0.55px solid #c8c7cc;
  
}
.item-last{
    border-bottom: none !important;
}
ion-content{
    --background: #f7f7f7;
}
ion-list{
    margin-bottom: 1rem;
}
ion-toolbar{
    --background: white;
}
.list-ios > .item-block:first-child{
    border-top: none;
}
.test{
    background-color:#f8f8f8;
    padding-left: 0.9rem;
}
.test .item-inner{
    border-bottom: none !important;

}