ion-item {
    --inner-border-width: 0;
}
.bottom-border{
    border-bottom: 0.55px solid #c8c7cc;
  
}
.item-last{
    border-bottom: none !important;
}
ion-content{
    --background: #f7f7f7;
}
ion-list{
    margin-bottom: 1rem;
}
ion-toolbar{
    --background: white;
}
.waitReturnCount{
    position: absolute;
    z-index: 999;
    right: -10px;
}
ion-item > ion-label:not([position=\"stacked\"]) {
    flex: 0 0 6.5em;
    max-width: 6.5em;
    min-width: 6.5em;
    white-space: normal;
    word-break: keep-all;
}
ion-item > ion-label:not([position="stacked"]) {
    flex: 0 0 6.5em;
    max-width: 6.5em;
    min-width: 6.5em;
    white-space: normal;
    word-break: keep-all;
}
