<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          常见问题
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>怎么提现</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label color="primary" class="smallFont">提现流程：</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>怎么分享</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label color="primary" class="smallFont">分享流程：</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>