ion-content{
    --background: #efefef;
}
ion-card{
    --background: #ffffff;
    margin: 0.5rem;
    box-shadow: none;
    ion-card-content{
        border-top: solid #ececec 1pt;
        padding: unset;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    ion-label{
        padding:0.5rem;
        font-weight: bold;
        color: black;
    }
    ion-item{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        ion-button{
            font-size: 13px;
            color: gray;
        }
    }
    ion-chip{
        ion-label{
            color:#6d6d6d
        }
    }
}
.name-info{
    font-weight: bold;
    margin-left: 0.5rem;
}