<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="doNext(myForm.value)" [formGroup]="myForm" novalidate  class="ion-margin-top ion-padding-top">
      
        <ion-item>
          <ion-label stacked color="dark">旧交货密码</ion-label>
          <ion-input type="password" formControlName="password" placeholder="请输入原有登录密码"></ion-input>
        </ion-item>
        <div class="validation-errors ion-padding-start">
          <div *ngFor="let validation of validation_messages.password">
            <ng-container>
              <div class="error-message" *ngIf="myForm.get('password').hasError(validation.type) && (myForm.get('password').dirty || myForm.get('password').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
        <ion-item>
          <ion-label stacked color="dark">新交货密码</ion-label>
          <ion-input type="password" formControlName="newPassword1" placeholder="请输入新交货密码"></ion-input>
        </ion-item>
        <div class="validation-errors ion-padding-start">
          <div *ngFor="let validation of validation_messages.newPassword1">
            <ng-container>
              <div class="error-message" *ngIf="myForm.get('newPassword1').hasError(validation.type) && (myForm.get('newPassword1').dirty || myForm.get('newPassword1').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
        <ion-item>
          <ion-label stacked color="dark">确认新交货密码</ion-label>
          <ion-input type="password" formControlName="newPassword2" placeholder="请再一次输入新的交货密码"></ion-input>
        </ion-item>
        <div class="validation-errors ion-padding-start">
          <div *ngFor="let validation of validation_messages.newPassword2">
            <ng-container>
              <div class="error-message" *ngIf="myForm.get('newPassword2').hasError(validation.type) && (myForm.get('newPassword2').dirty || myForm.get('newPassword2').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
        <ion-button   expand="block" type="submit" [disabled]="!myForm.valid">确定</ion-button >
    
    
      </form>
</ion-content>
