<ion-header translucent *ngIf="!isLogin">
  <ion-toolbar>
    <ion-title>登录</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="forgetPasswordClick()">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        忘记密码?
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'my-content':isLogin, 'member-login-content': !isLogin}">
  <div *ngIf="!isLogin" class="member-login-shell">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-padding-top">
        <ion-col size="12" size-md="10" size-lg="8">
          <ion-card class="member-login-card ion-no-margin">
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="person-circle-outline"></ion-icon>
                欢迎登录
              </ion-card-title>
              <ion-card-subtitle>请输入账号信息，登录后可查看运单、欠款和消息提醒。</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <form (ngSubmit)="doLogin(authForm.value)" [formGroup]="authForm" novalidate class="login-form">
                <ion-list lines="none" class="ion-no-margin">
                  <ion-item class="login-input-item">
                    <ion-input
                      aria-label="用户名"
                      label="用户名 *"
                      labelPlacement="stacked"
                      fill="outline"
                      type="text"
                      formControlName="username"
                      placeholder="请输入用户名或者手机号码"
                    ></ion-input>
                  </ion-item>
                  <ion-item class="login-input-item">
                    <ion-input
                      aria-label="密码"
                      label="密码 *"
                      labelPlacement="stacked"
                      fill="outline"
                      type="password"
                      formControlName="password"
                      placeholder="请输入密码 区分大小写"
                    ></ion-input>
                  </ion-item>
                  <ion-item lines="none" class="remember-item">
                    <ion-checkbox aria-label="记住我" slot="start" formControlName="rememberMe"></ion-checkbox>
                    <ion-label>记住我</ion-label>
                    <ion-button fill="clear" size="small" slot="end" (click)="forgetPasswordClick()">找回密码</ion-button>
                  </ion-item>
                </ion-list>
                <ion-note color="medium" class="login-tip">账号与密码区分大小写，请确认输入无误。</ion-note>
                <ion-button expand="block" shape="round" size="large" type="submit" class="ion-margin-top" [disabled]="!authForm.valid">登录</ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="isLogin">

    <div class="user-heder-1">
      <ion-grid id="titlte">
        <ion-row class="ion-align-items-center">
          <ion-col size="4" class="ion-align-self-center">
            <div class="ion-float-left">

              <img src="assets/imgs/member-14.png" style="width:30px;height:30px;">
            </div>
            <div class="ion-float-left" id="name">{{username}}</div>
          </ion-col>
          <ion-col size="4" class="ion-align-self-center " class="ion-text-center">
            <img src="assets/imgs/member-16.png" style="width:35px;height:35px;">

          </ion-col>
          <ion-col size="4" class="ion-align-self-center" class="ion-text-right">
            <img src="assets/imgs/member-15.png" class="my-badge1"
              [ngStyle]="{'margin-right':userInfo?.UnReadMessageCount > 0? '12px;': ''}" (click)="openMessage()"
              *ngIf="customerType==0">
            <div *ngIf="userInfo?.UnReadMessageCount>0" class="my-badge">
              {{userInfo?.UnReadMessageCount>99?'99':userInfo.UnReadMessageCount}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="ion-text-center">

          </ion-col>
          <ion-col size="8" class="ion-text-center">

            <ion-button id="btnPerson" (click)="openChat()" fill="clear">
              我的客服专员
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2" class="ion-text-center">

          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="customerType!=3">
        <ion-grid id="info">
          <ion-row class="ion-align-items-center">
            <ion-col size="6">
              <div class="ion-text-center">

                <div class="title"> {{userInfo?.Quantity1}}</div>
                待确认运单

              </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <div class="title"> {{userInfo?.Quantity2}}</div>
              问题件
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-grid id="info">
          <ion-row class="ion-align-items-center">
            <ion-col size="12" *ngFor="let item of currencyAmount" (click)="wechatPay(item.Id)">
              <div class="ion-text-center">
                <div class="title">{{item.Amount}}</div>
                <span class="smallFont">
                  欠款({{item.Name}})
                </span>
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </div>
    <ion-grid id="menu-grid">
      <ion-row *ngFor="let row of menus.rows" class="row">
        <ion-col *ngFor="let item of row.items" class="col">
          <div [class.fade-flicker]="item.title=='业务公告' && unreadNoticeCount>0 && noticeIsClicked==false" >
            <ion-badge color="danger"
              *ngIf="this.waitToSignTaskCount>0 && item.title=='合同签署'">{{this.waitToSignTaskCount}}</ion-badge>

            <div *ngIf="item.title=='业务公告' && unreadNoticeCount>0" class="my-badge2">
              {{unreadNoticeCount}}</div>
            <div (click)="menuClick(item)" class="ion-text-center">
              <div>
                <img [src]="item.image" style="max-width:1.5rem;height:auto;">
              </div>
              <div class="menu-title">
                {{item.title}}
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-button expand="full" (click)="logOff()" *ngIf="isLogin" class="ion-margin-top">退出登录</ion-button>

  </div>
</ion-content>