user-header{
    position: relative;
}
.user-title{
    position: absolute;
    top: 2rem;
    color: #ffffff;
    font-size: 2rem;
    left: 3.5rem;

}
#btnLogin{
    border: solid 1px white;
    top: 4rem;
    left: 3.5rem;
    color: white;
    width: 9rem;
    border-radius:10px;
    height: 2.5em;
    margin-top: 1em;
    position: absolute;
    z-index: 10;
}

#menu-grid ion-row.row:first-child{
    border-top: solid 1px #dcdcdc;
}
#menu-grid ion-col.col{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: solid 1px #dcdcdc;
    background-color: white;
    border-bottom: solid 1px #dcdcdc;
}

#menu-grid{
    padding-left: 0;
    padding-right: 0;
}
.menu-title{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
.my-content{
    background-color: #f7f7f7;
}
#btnPerson{

   color: #d0e6fe;
}
#titlte{
background-color: #004ea2;
}
#info{
    background-color: #0152A8;
    color: #ffffff;
    
}
#info .title{
 
    font-weight: bold;
}
#name{
    line-height: 20px;
    color: #ffffff;
    padding-left: 1rem;
    font-size: 1.2rem;
}

ion-img{
    background: none;
}
.v-line{
    border-right: solid 1px #ffffff;
}
[col-4]{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.my-badge{
    position: absolute;
    right:0;
    top: 0;
    background-color: red;
    width: 20px;
    height: 20px;
    vertical-align: center;
    text-align: center;
    border-radius:50%;
    color: white;
}
.my-badge1{
    width:30px;
    height:30px; 
    margin-right: 12px;
}
.smallFont{
    font-size: 13px;
}