h1 {
    margin: 10px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: underline;
}

ion-list {
    margin-bottom: 10px;
}

.paid {
    color: #28ba62;
}

.nopay {
    color: #eb445a;
}

.weight {
    color: black !important;
}

.error-message {
    color: red;
}

.validation-errors {
    background-color: white;
}

.button-small {
    margin-inline: 1px !important;
}

.test .item-inner {
    border-bottom: none !important;
}

ion-input[myborder]{
    border: solid 1px #85c1e9;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
}