h1{
    margin: 10px;
}
h2{
    text-align: center;
}
a{
    text-decoration: underline;
}
ion-list{
    margin-bottom: 10px;
}
.paid{
    color: #28ba62;
}
.nopay{
    color: #eb445a;
}
.weight{
    color: black !important;
}
.error-message
{
  color: red;
}
.validation-errors{
    background-color: white;
}
.button-small{
    margin-inline: 1px !important;
}