<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      我的伙伴
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid id="info">
    <ion-row class="ion-align-items-center">
      <ion-col col-4>
        <div class="ion-text-center">
          <div class="title">伙伴总数</div>
          {{partners?.Total}}
        </div>
      </ion-col>
      <ion-col col-4 class="ion-text-center">
        <div class="title">本日新增</div>
        {{partners?.TodayCount}}
      </ion-col>
      <ion-col col-4 class="ion-text-center">
        <div class="title">本月新增</div>
        {{partners?.MonthCount}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar placeholder="搜索" (ionChange)="search($event)"></ion-searchbar>
  <ion-item>
    <ion-label>综合排序</ion-label>
    <ion-select placeholder="选择排序" interface="alert" cancelText="取消" okText="确定" (ionChange)="orderChange($event)">
      <ion-select-option value="asc">时间顺序</ion-select-option>
      <ion-select-option value="desc">时间倒序</ion-select-option>
    </ion-select>
  </ion-item>
  <table>
    <thead>
      <td>
        序号
      </td>
      <td>
        伙伴
      </td>
      <td>
        联系方式
      </td>
      <td>
        加入时间
      </td>
      <td>
        上次下单时间
      </td>
    </thead>
    <tbody>
      <tr *ngFor="let row of partners?.Rows;let i=index">
        <td>
          {{i+1}}
        </td>
        <td>
          {{row?.CustomerName}}
        </td>
        <td>
        </td>
        <td>
          {{row?.CreateAtStr}}
        </td>
        <td>
          {{row?.LastRgdCreateAtStr}}
        </td>
      </tr>
    </tbody>
  </table>
  <ion-item *ngIf="partners?.Rows?.length==0">
    -暂无伙伴-
  </ion-item>

</ion-content>