ion-content{
    --background: #f7f7f7;
}
ion-list{
    border-radius: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
}
ion-label{
    margin-bottom: 0;
    margin-top: 0;
}
ion-item{
    --min-height:30px;
}
