<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>交货清单确认</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding-top" style="background-color: #fff;"></div>
  <ion-toolbar>
    <ion-searchbar placeholder="请输入单号" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-list *ngFor="let item of searchList" lines="none">
    <ion-item class="bottom-border">

      <ion-label> 单号:{{item.ReferenceNumber}}</ion-label>
      <ion-checkbox [(ngModel)]="item.Selected" slot="start"></ion-checkbox>
      <ion-note slot="end">目的地:{{item.CountryName}}</ion-note>

    </ion-item>


    <ion-item detail class="bottom-border" (click)="detail(item)">
      <ion-label>
        <h2>{{item.PriceName}}</h2>
        <p>计费重:{{item.Weight}}Kg</p>
        <p>货物属性:{{item.AttributeNames}}</p>
      </ion-label>
      <ion-note slot="end" class="ion-margin-vertical">￥{{item.Amount}}</ion-note>
    </ion-item>
   
    <ion-item>
      {{item.Date}}
      <ion-button slot="end" outline (click)="onItemConfirmClick(item)">确认出货</ion-button>
    </ion-item>

  </ion-list>
  <div padding *ngIf="searchList?.length==0">
    <img src="assets/imgs/empty.png">
  </div>




</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-checkbox (ionChange)="onAllClick()" [(ngModel)]="allSelected" style="margin-left: 0.5rem;"></ion-checkbox>
      <ion-label style="margin-left: 0.5rem;">{{allSelected?'反选':'全选'}}</ion-label>

    </ion-buttons>



    <ion-buttons slot="primary">
      <ion-button (click)="onConfirmClick()">
        确认所选

      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>