<ion-content>
  <ion-segment [(ngModel)]="tabIndex" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="{{tab.categoryId}}" *ngFor="let tab of noticeTabs">
      {{tab.title}}
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="tabIndex" class="ion-padding-top">
    <div *ngSwitchCase="2">
      <ion-list>
        <ion-item button detail (click)="openDetail(item)" *ngFor="let item of noticeTabs[0].items">
          <ion-label class="ion-text-wrap">
            <h3>{{item.CreateAt}}</h3>
            <h2>{{item.Title}}</h2>
            <p>{{item.Summary}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="getItems(noticeTabs[0],$event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div *ngSwitchCase="3">
      <ion-list>

        <ion-item button detail (click)="openDetail(item)" *ngFor="let item of noticeTabs[1].items">
          <ion-label class="ion-text-wrap">
            <h3>{{item.CreateAt}}</h3>
            <h2>{{item.Title}}</h2>
            <p>{{item.Summary}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="getItems(noticeTabs[1],$event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div *ngSwitchCase="4">
      <ion-list>

        <ion-item button detail (click)="openDetail(item)" *ngFor="let item of noticeTabs[2].items">
          <ion-label class="ion-text-wrap">
            <h3>{{item.CreateAt}}</h3>
            <h2>{{item.Title}}</h2>
            <p>{{item.Summary}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="getItems(noticeTabs[2],$event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div *ngSwitchCase="5">
      <ion-list>
        <ion-item button detail (click)="openDetail(item)" *ngFor="let item of noticeTabs[3].items">
          <ion-label class="ion-text-wrap">
            <h3>{{item.CreateAt}}</h3>
            <h2>{{item.Title}}</h2>
            <p>{{item.Summary}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="getItems(noticeTabs[3],$event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>