<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>未读消息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item detail (click)="detail(0)">
            <ion-label>售前咨询</ion-label>
   
          <ion-note slot="end">{{data?.Count2}}未读</ion-note>
        </ion-item>
      <ion-item detail (click)="detail(1)">
        <ion-label>单号消息</ion-label>
  
        <ion-note slot="end">{{data?.Count1}}未读</ion-note>
      </ion-item>
     
    </ion-list>
  </ion-content>