.bg{
    background-color: #f7f7f7;
}
ion-list{
    margin-bottom: 1rem;
}
.bottom-border{
    border-bottom: 1px solid #c8c7cc;
  
}
ion-item > ion-label:not([position=\"stacked\"]) {
    flex: 0 0 6.5em;
    max-width: 6.5em;
    min-width: 6.5em;
    white-space: normal;
    word-break: keep-all;
}
ion-item > ion-label:not([position="stacked"]) {
    flex: 0 0 6.5em;
    max-width: 6.5em;
    min-width: 6.5em;
    white-space: normal;
    word-break: keep-all;
}
