<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>退货管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="1">
      已完成
    </ion-segment-button>
    <ion-segment-button value="2">
      退货中
      <ion-badge item-end *ngIf="items2.length>0">{{items2.length}}</ion-badge>
    </ion-segment-button>
    <ion-segment-button value="3">
      退货通知
      <ion-badge item-end *ngIf="items3.length>0">{{items3.length}}</ion-badge>
    </ion-segment-button>

  </ion-segment>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="1" class="bg">
    
        <ion-searchbar placeholder="原、转单号，国家，报价，运输方式，类型，子单号" (ionInput)="searchItems($event)" #searchbar></ion-searchbar>
     
      <ion-list *ngFor="let item of items1" lines="none">
        <ion-item class="bottom-border">
          <ion-label> 原单号:{{item.ReferenceNumber}}</ion-label>
          <ion-note slot="end">转单号:{{item.TrackNumber}}</ion-note>
        </ion-item>
        <ion-item detail class="item-last" (click)="detail(item)">
          <ion-label>
            <h3>{{item.PriceName}}</h3>
            <p>计费重:{{item.Weight}}Kg</p>
            <p>交货日期:{{item.Date}}</p>
          </ion-label>

          <ion-note slot="end" class="ion-margin-vertical">￥{{item.Amount}}</ion-note>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="scrollItems($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngSwitchCase="2" class="ion-padding-top">
      <ion-list *ngFor="let item of items2">

        <button ion-item class="bottom-border">
          <ion-label>单号</ion-label>
          <ion-note item-end>{{item.ReferenceNumber}}</ion-note>
        </button>
        <ion-item>
          <ion-label>申请时间</ion-label>
          <ion-note item-end>{{item.CreateAt}}</ion-note>
        </ion-item>
        <ion-item [class.bottom-border]="item.ApplyType==0">
          <ion-label>当前状态</ion-label>
          <ion-note item-end>{{item.Remark}}</ion-note>
        </ion-item>
        <ion-item class="item-last" *ngIf="item.ApplyType==0">
          <button ion-button item-end outline (click)="cancelApply(item)">取消申请</button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="3" class="ion-padding-top">
      <ion-list *ngFor="let item of items3">

        <button ion-item class="bottom-border">
          <ion-label>单号</ion-label>
          <ion-note item-end>{{item.ReferenceNumber}}</ion-note>
        </button>
        <ion-item>
          <ion-label>通知时间</ion-label>
          <ion-note item-end>{{item.CreateAt}}</ion-note>
        </ion-item>
        <ion-item class="bottom-border">
          <ion-label>退货原因</ion-label>
          <ion-note item-end>{{item.Remark}}</ion-note>
        </ion-item>
        <ion-item class="item-last">
          <button ion-button item-end outline (click)="fill(item)">马上处理</button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>