<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>退货管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="1">
        <ion-label>已完成</ion-label>
   
    </ion-segment-button>
    <ion-segment-button value="2">
     
      <ion-label> 退货中</ion-label>
    
     
    </ion-segment-button>
   

  </ion-segment>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="1" class="bg">
    
        <ion-searchbar placeholder="原、转单号，国家，报价，运输方式，类型，子单号" (ionInput)="searchItems($event)" #searchbar></ion-searchbar>
     
      <ion-list *ngFor="let item of items1" lines="none">
        <ion-item class="bottom-border">
          <ion-label> 原单号:{{item.ReferenceNumber}}</ion-label>
          <ion-note slot="end">转单号:{{item.TrackNumber}}</ion-note>
        </ion-item>
        <ion-item detail class="item-last" (click)="detail(item)">
          <ion-label>
            <h3>{{item.PriceName}}</h3>
            <p>计费重:{{item.Weight}}Kg</p>
            <p>交货日期:{{item.Date}}</p>
          </ion-label>

          <ion-note slot="end" class="ion-margin-vertical">￥{{item.Amount}}</ion-note>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="scrollItems($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngSwitchCase="2" class="ion-padding-top bg">
      <ion-list *ngFor="let item of items2" lines="none">

        <ion-item  class="bottom-border">
          <ion-label>单号</ion-label>
          <ion-note slot="end">{{item.ReferenceNumber}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>申请时间</ion-label>
          <ion-note slot="end">{{item.CreateAt}}</ion-note>
        </ion-item>
        <ion-item [class.bottom-border]="item.ApplyType==0">
          <ion-label>当前状态</ion-label>
          <ion-note slot="end">{{item.Remark}}</ion-note>
        </ion-item>
        <ion-item class="item-last" *ngIf="item.ApplyType==0">
          <ion-button slot="end" fill="outline" (click)="cancelApply(item)">取消申请</ion-button>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>