<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>价格计算</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-segment [(ngModel)]="calculateMode" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="1">
      <ion-label>精简模式</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>完整模式</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="calculateMode" class="ion-margin-top">
    <div *ngSwitchCase="1">
      <form (ngSubmit)="doCalculate(myForm.value)" [formGroup]="myForm">
        <ion-list>

          <ion-item>
            <ion-label>货物类型</ion-label>
            <ion-select interface="alert" cancelText="取消" okText="确定" formControlName="ProductContentType">
              <ion-select-option value="1" selected="true">包裹</ion-select-option>
              <ion-select-option value="0">文件</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>国家</ion-label>
            <ion-input type="text" formControlName="countryId" (ionBlur)="onCountryBlur()"
              (keyup)="onCountryKeyup($event)" (input)="filterCountryItems($event)" [(ngModel)]="countryInput"
              clearInput="true"></ion-input>
          </ion-item>
          <ion-item *ngIf="showCountryList">
            <ion-list style="width: 100%;">
              <ion-item button *ngFor="let item of countrySearch" (click)="countryItemClick(item)"> {{item.Name}}
              </ion-item>

            </ion-list>
          </ion-item>
          <ion-item>
            <ion-label>重量</ion-label>
            <ion-input type="number" formControlName="actualWeight"></ion-input>
          </ion-item>
          <ion-item *ngFor="let item of priceRuleTemplateInfoList">
            <ion-label>{{item.Name}}</ion-label>
            <ion-checkbox (ionChange)="ruleChanged(item,$event)" slot="start"></ion-checkbox>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!myForm.valid">计算</ion-button>
          <ion-chip class="tips" color="danger">
            <ion-label>301KG起输入邮编有美国空卡快线，敬请参选（使用完整模式可输入邮编），高值、大件欢迎进入...</ion-label>
          </ion-chip>
        </ion-list>
      </form>
    </div>
    <div *ngSwitchCase="2">
      <form (ngSubmit)="doCalculate(myForm.value)" [formGroup]="myForm">
        <ion-list>
          <ion-item>
            <ion-label>运输方式</ion-label>
            <ion-select interface="alert" cancelText="取消" okText="确定" formControlName="ModeOfTransportIdList">
              <ion-select-option *ngFor="let item of modeOfTransportList" [value]="item.Id" [selected]="item.Id==0">
                {{item.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>货物类型</ion-label>
            <ion-select interface="alert" cancelText="取消" okText="确定" formControlName="ProductContentType">
              <ion-select-option value="1" selected="true">包裹</ion-select-option>
              <ion-select-option value="0">文件</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>国家</ion-label>
            <ion-input type="text" formControlName="countryId" (ionBlur)="onCountryBlur()"
              (keyup)="onCountryKeyup($event)" (input)="filterCountryItems($event)" [(ngModel)]="countryInput"
              clearInput="true"></ion-input>
          </ion-item>
          <ion-item *ngIf="showCountryList">
            <ion-list>
              <ion-item button *ngFor="let item of countrySearch" (click)="countryItemClick(item)"> {{item.Name}}
              </ion-item>
            </ion-list>
          </ion-item>
          <ion-item>
            <ion-label>邮编</ion-label>
            <ion-input type="text" formControlName="postalCode"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>城市</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>申报价值</ion-label>
            <ion-input type="text" formControlName="declaredValue"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label>输入尺寸</ion-label>
            <ion-checkbox #isInputSize formControlName="isEditSize"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="isInputSize.checked" formArrayName="sizes">
            <ion-grid>
              <ion-row>
                <ion-col>
                  件数
                </ion-col>
                <ion-col>
                  重(KG)
                </ion-col>
                <ion-col>
                  长(CM)
                </ion-col>
                <ion-col>
                  宽(CM)
                </ion-col>
                <ion-col>
                  高(CM)
                </ion-col>
              </ion-row>
              <ng-container *ngFor="let size of sizes.controls;let i=index">
                <ion-row>
                  <ng-container [formGroupName]="i">
                  
                  <ion-col>
                    <input id="size-piece-{{i}}" type="text" placeholder="件数" style="width: 100%;" formControlName="Piece" min="1">
                  </ion-col>
                  <ion-col>
                    <input id="size-weight-{{i}}" type="text" placeholder="重量" style="width: 100%;" formControlName="Weight" min="1">
                  </ion-col>
                  <ion-col>
                    <input id="size-length-{{i}}" type="text"   placeholder="长" style="width: 100%;" formControlName="Length" min="1">
                  </ion-col>
                  <ion-col>
                    <input id="size-width-{{i}}"  type="text"  placeholder="宽" style="width: 100%;" formControlName="Width" min="1">
                  </ion-col>
                  <ion-col>
                    <input id="size-height-{{i}}"  type="text"  placeholder="高" style="width: 100%;" formControlName="Height" min="1">
                  </ion-col>
                  </ng-container>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ng-container  *ngFor="let rule of size.value.PieceRules;let j=index" >
                      <input type="checkbox" (change)="checkPieceRule(i,j)" [checked]="rule.Checked" />{{rule.ObjectName}}
                    </ng-container>
                  </ion-col>
                </ion-row>
              </ng-container>
              <ion-button *ngIf="sizes.length>1" (click)="removeSize()">移除规格</ion-button>
              <ion-button style="float:right" (click)="addSize()">添加规格</ion-button>
            </ion-grid>
          </ion-item>
          <ion-item *ngIf="!isInputSize.checked">
            <ion-label>实重</ion-label>
            <ion-input type="number" formControlName="actualWeight"></ion-input>
          </ion-item>
          <ion-item *ngIf="!isInputSize.checked">
            <ion-label>体积重</ion-label>
            <ion-input type="number" formControlName="volumeWeight" placeholder="请选你输入的体积重除数"></ion-input>
            <ion-select interface="alert" cancelText="取消" okText="确定" formControlName="volumetric">
              <ion-select-option *ngFor="let item of volumetricDivisorList" [value]="item.Id">{{item.Name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngFor="let item of priceRuleTemplateInfoList">
            <ion-label>{{item.Name}}</ion-label>
            <ion-checkbox (ionChange)="ruleChanged(item,$event)" slot="start"></ion-checkbox>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!myForm.valid">计算</ion-button>
          <ion-chip class="tips" color="danger">
            <ion-label>301KG起输入邮编有美国空卡快线，敬请参选（使用完整模式可输入邮编），高值、大件欢迎进入...</ion-label>
          </ion-chip>
        </ion-list>
      </form>
    </div>
  </div>

</ion-content>