<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>报价详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tab" scrollable>
    <ion-segment-button value="1">
      基本信息
    </ion-segment-button>
    <ion-segment-button value="5">
      费用明细
    </ion-segment-button>
    <ion-segment-button value="2">
      报价声明
    </ion-segment-button>
    <ion-segment-button value="3">
      报价备注
    </ion-segment-button>
    <ion-segment-button value="4">
      国家备注
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="tab" class="ion-margin-top">
    <div *ngSwitchCase="1">
      <ion-list>
        <ion-item>
          <ion-label>报价代码</ion-label>
          <ion-input class="ion-text-right" readonly="true" value="{{data.PriceCode}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>报价名称</ion-label>

          <ion-input class="ion-text-right" readonly="true" value="{{data.PriceName}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>运输方式</ion-label>
          <ion-input class="ion-text-right" readonly="true" value="{{data.ModeOfTransportName}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>金额</ion-label>
          <ion-input class="ion-text-right" readonly="true" value="{{data.TotalAmount}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>币别</ion-label>
          <ion-input class="ion-text-right" readonly="true" value="{{data.Currency}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>计费重量</ion-label>
          <ion-input class="ion-text-right" readonly="true" value="{{data.ChargeableWeight}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>体积除数</ion-label>
          <ion-input class="ion-text-right" readonly="true" value="{{data.Volumetric}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>含油参价</ion-label>
          <ion-input class="ion-text-right" readonly="true" value="{{data.UnitPrice}}"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="2" [innerHTML]="data.CommonRemark" class="ion-padding">

    </div>
    <div *ngSwitchCase="3" [innerHTML]="data.Remark" class="ion-padding">

    </div>
    <div *ngSwitchCase="4" [innerHTML]="data.CountryRemark" class="ion-padding">

    </div>
    <div *ngSwitchCase="5">
      <ion-list>

        <ion-item *ngFor="let item of data.Charges">
          <ion-label>{{item.ChargeName}}</ion-label>

          <ion-input class="ion-text-right" readonly="true" value="{{item.Expression}}={{item.Amount}}"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>