ion-grid{
    --ion-grid-padding:0;
}
ion-col{
    --ion-grid-column-padding:0;
}
ion-button{
    --padding-top:0;
    --padding-bottom:0;
}
.packageTrackList{
    margin-bottom: 5px;
}
.packageNumber{
    background: #f4f5f8;
    padding: 5px;
}
.packageNumber:hover{
    background: #cccdd3;
}
.sub_font_color{
    color: #999999
  }
  .sub_font_size{
    font-size: 13px;
  }
.trackTips{
  padding: 5px;
  color: red;
  font-size: 13px;
}