.my-head{
    height: 9rem;
    background-color: #004ea2;
    color: white;
}
.my-head1{
    height: 5rem;
    background-color: #004ea2;
    color: white;
}
.head-col{
    width: 50%;
    text-align: center;
    height: 5rem;
    float: left;
    font-size: 1.5rem;
}
.total-amount{
    font-size: 3rem;
    text-align: center;
    padding-top: 1.5rem;
}
.total-text{
    text-align: center;
  
    font-size: 1.5rem;
}
.content-ios{
    background-color: #f7f7f7;
}
.my-button{
    padding: 0;
    margin: 0;
    background-color: #004ea2;
}
.otherCurrencyAmountFont{
    font-size: 13px;
    color: red;
}
.tips{
    background: wheat;
    font-size: 14px;
}
ion-item > ion-label:not([position=\"stacked\"]) {
    flex: 0 0 clamp(8.5em, 36vw, 11em);
    max-width: clamp(8.5em, 36vw, 11em);
    min-width: clamp(8.5em, 36vw, 11em);
    white-space: normal;
    word-break: keep-all;
}
ion-item > ion-label:not(.label-stacked) {
    flex: 0 0 clamp(8.5em, 36vw, 11em);
    max-width: clamp(8.5em, 36vw, 11em);
    min-width: clamp(8.5em, 36vw, 11em);
    white-space: normal;
    word-break: keep-all;
}

