.my-head{
    height: 9rem;
    background-color: #004ea2;
    color: white;
}
.my-head1{
    height: 5rem;
    background-color: #004ea2;
    color: white;
}
.head-col{
    width: 50%;
    text-align: center;
    height: 5rem;
    float: left;
    font-size: 1.5rem;
}
.total-amount{
    font-size: 3rem;
    text-align: center;
    padding-top: 1.5rem;
}
.total-text{
    text-align: center;
  
    font-size: 1.5rem;
}
.content-ios{
    background-color: #f7f7f7;
}
.my-button{
    padding: 0;
    margin: 0;
    background-color: #004ea2;
}
.checkbox-ios .checkbox-checked{
    background-color: #004ea2;
}