<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>微信支付({{data?.CustomerName}})</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="payHistory()">
        支付记录
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tips" *ngIf="this.cid!=1">
    <ion-label color="danger">当前正在支付外币：{{this.data?.PayMessage}}</ion-label>
  </div>
  <div class="my-head">
    <div class="total-amount">{{data?.TotalAmount|currency:'CNY'}}</div>
    <div class="total-text">支付金额</div>
  </div>
  <div class="my-head1" *ngIf="data?.WXPaymentCommission">
    <div class="head-col">
      <div>{{data?.Amount==""?"0":data?.Amount |currency:'CNY'}}</div>
      <div>运费</div>
    </div>
    <div class="head-col">
      <div>{{data?.Commission |currency:'CNY'}}</div>
      <div>手续费</div>
    </div>
  </div>

  <ion-list style="clear: both;">
    <ion-item *ngIf="this.cid!=1">
      <ion-label>当前金额将优先转换外币：{{data?.CurrencyName?.length>0?data?.CurrencyName:"人民币"}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>运费金额</ion-label>
      <ion-input type="number" inputmode="decimal" min="0.01" placeholder="请输入运费金额" [(ngModel)]="data.Amount"
        (ngModelChange)="amountChange()" [disabled]="amountInputDisable">
      </ion-input>
      <ion-label slot="end">人民币</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>产品类型</ion-label>
      <ion-select interface="alert" cancelText="取消" okText="确定" placeholder="请选择产品类型" (ionChange)="typeChange($event)" value="0">
        <ion-select-option *ngFor="let item of productTypes" value="{{item.Key}}">{{item.Value}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="data?.Amount1>0">
      <ion-label>自动放货</ion-label>
      <ion-toggle [(ngModel)]="data.IsRelease" [disabled]="amountInputDisable"></ion-toggle>
    </ion-item>


    <ion-item detail (click)="showDesc(1)">
      <ion-label>支付说明</ion-label>
    </ion-item>
    <ion-item class="otherCurrencyAmountFont" *ngIf="otherCurrencyAmounts?.length>0">
      <ion-label>存在其他币种欠款：
        <span *ngFor="let item of otherCurrencyAmounts">{{item.Amount}}({{item.Name}});</span>
      </ion-label>
      <a (click)="presentActionSheet()">点击这里支付</a>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>{{allSelected?'反选':'全选'}}</ion-label>
      <ion-checkbox (ionChange)="onAllClick()" [(ngModel)]="allSelected" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let item of data?.ReceiveGoodsDetailList">
      <ion-label>{{item.ReferenceNumber}}</ion-label>
      <ion-checkbox [(ngModel)]="item.Selected" (ionChange)="selectChange()" slot="start"></ion-checkbox>
      <ion-note slot="end">{{item.Amount|currency:'CNY'}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="full" class="my-button" (click)="payClick()">支付</ion-button>
</ion-footer>