<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>重置密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tab">
   
    <ion-segment-button value="1" checked >
      <ion-label>1 验证身份</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" [disabled]="tab2Disabled">
      <ion-label>2 设置新密码</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3" [disabled]="tab3Disabled">
      <ion-label>3 完成</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="tab">
    
    <div *ngSwitchCase="1">
        <form (ngSubmit)="doNext2(myForm2.value)"  [formGroup]="myForm2" novalidate>
      
            <ion-item>
              <ion-label stacked>手机号码/邮箱</ion-label>
              <ion-input type="text" formControlName="mobile" placeholder="请输入您在我公司开户时留存的手机号码/邮箱"></ion-input>
            </ion-item>
            <div class="validation-errors" padding-left>
              <div *ngFor="let validation of validation_messages.mobile">
                <ng-container>
                  <div class="error-message" *ngIf="myForm2.get('mobile').hasError(validation.type) && (myForm2.get('mobile').dirty || myForm2.get('mobile').touched)">
                    {{validation.message}}
                  </div>
                </ng-container>
              </div>
            </div>
            <ion-item>
              <ion-label stacked>验证码</ion-label>
              <ion-input type="text" formControlName="code" placeholder="请输入验证码"></ion-input>
              <ion-button slot="end" (click)="getCode($event)" class="my-code" [disabled]="btnDisabled">{{codeText}}</ion-button>
            </ion-item>
            <div class="validation-errors" padding-left>
              <div *ngFor="let validation of validation_messages.code">
                <ng-container>
                  <div class="error-message" *ngIf="myForm2.get('code').hasError(validation.type) && (myForm2.get('code').dirty || myForm2.get('code').touched)">
                    {{validation.message}}
                  </div>
                </ng-container>
              </div>
            </div>
            <ion-button  expand="full" type="submit" [disabled]="!myForm2.valid">下一步</ion-button>
          </form>
        
    </div>
    <div *ngSwitchCase="2">
        <form (ngSubmit)="doNext3(myForm3.value)" [formGroup]="myForm3" novalidate>
      
            <ion-item>
              <ion-label stacked>您的新密码</ion-label>
              <ion-input type="password" formControlName="newPassword1" placeholder="请输入你的新密码"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>确认新密码</ion-label>
              <ion-input type="password" formControlName="newPassword2" placeholder="请再次输入新密码"></ion-input>
            </ion-item>
            <ion-button expand="full" type="submit" [disabled]="!myForm3.valid">下一步</ion-button>
          </form>
    </div>
    <div  *ngSwitchCase="3">
        <ion-card>
            <ion-card-header>
  
              <ion-card-title>操作成功</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
            您的密码已成功重置
            </ion-card-content>
          </ion-card>
          <ion-button  expand="full" (click)="toLogin()"  >去登录</ion-button>
    </div>
  </div>
</ion-content>
